@model IEnumerable<Rol>
@{
    ViewData["Title"] = "Rol Listesi";
}

<h1>Rol Listesi</h1>

<a asp-action="Create" class="btn btn-primary">Yeni Rol Ekle</a>

@if (TempData["Silindi"] != null)
{
    <div class="alert alert-success">@TempData["Silindi"]</div>
}

<table class="table">
    <thead>
        <tr>
            <th>RolAdı</th>
            <th>Durum</th>
         <th></th>   
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RolAdı</td>
                <td>@item.Durum</td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RolID">Düzenle</a> |
                    <a asp-action="Details" asp-route-id="@item.RolID">Detay</a> |
                    <a asp-action="Delete" asp-route-id="@item.RolID">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
